.card{
    margin: 2rem auto;
    background-color: white;
    padding: 2rem;
}
.outer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.2rem;

}
.first{
    display: inline-flex;
    justify-content: space-around;
    font-size: 1.2rem;
}
.first p{
    margin-left: .5rem;
}
.second{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items: center;
}
.buttons{
    display: flex;
    justify-content: space-between; 
}
.buttons .action{
    font-weight: 600;
    background-color: orange;
    color: black;
}
.buttons .action:hover{
    background-color: orangered;
}
